Source: jinx-api
Section: web
Priority: extra
Maintainer: Lex Linden <lex@lindenlab.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: jinx-api
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-django, clusto, python-llclusto-linden (>= 1.0), python-jinx-json, python-jinx-client
Description: a django web service providing an API for Jinx
 This package provides the code for a django web service that provides access to
 the data stored in Jinx, which uses Clusto.
